.aboutWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 2%;
}
.box {
  background: white;
  border-radius: 34px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  7px 7px 14px #e0e0e0,
               -7px -7px 14px #ffffff;
  padding: 20px 25px;
  display: block;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  line-height: 1.6;
}
.box .imgBox {
  width: 60px;
  padding: 0 20px;
  margin: 0 auto;
}
.box .imgBox img {
  width: 100%;
}
.box .textBox {
  flex: 1;
}

.box .textBox strong {
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
}
.box .textBox p {
  color: #666;
  font-size: 0.9em;
}
.box .textBox a {
  color: blue;
}
.aboutContainer {
  margin: 0 auto;
  text-align: center;
  padding-left: 35px;
}
.aboutContainer > h2 {
  font-size: 3em;
}
.aboutImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  overflow: hidden;
  margin: 30px auto;
}
.aboutImg > img {
  width: 100%;
}
.introText {
  margin: 50px 0;
}
.introText > p {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.7;
}
.contactWrap {
  font-size: 1.8em;
  margin: 20px 0;
}
@media screen and (max-width:1280px) {
     .aboutContainer{
          padding:0;
     }
}
@media screen and (max-width:640px) {
     .box{
          width:45%;
     }
}

@media screen and (max-width:400px) {
     .box{
          width:44%;
     }
}