.inputForm{
     display: flex;
}     
input{
     line-height: 40px;
     border:none;
     border-radius: 10px;
     flex:1;
     text-indent: 20px;
     color:black;
}
input:focus{
     outline:0;
}
button{
     border:2px solid white;
     color:white;
     border-radius: 10px;
     box-sizing: border-box;
     padding:0 20px;
     background: none;
     margin-left:10px;
     cursor: pointer;
}