.todoWrap{
     width:400px;
     margin:50px auto;
     background: #bbb;
     padding:35px 25px;
     color:white;
     border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.todoIntro{
     text-align: center;
     font-size: 1.5em;
     font-weight: 500;
}
.todoIntroBottom{
     text-align: center;
     font-size: 1.2em;
     line-height: 2;
     font-weight: 500;
     margin-bottom:5%;
}