.todoItem{
     border: 2px solid #333;
     border-radius: 20px;
     display: flex;
     line-height: 3;
     padding:0 10px;
     margin-top:15px;
     cursor: pointer;
}
.remove{
     margin-right: 15px;
     color:#333;
     font-weight: bold;
     opacity: 0;
     transition: 1s;
}
.todoItem:hover .remove{
     opacity: 1;
}
.checked{
     text-decoration: line-through;
}