@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

*{
  margin:0;
  padding:0;
  color:black;
  font-family: 'Noto Sans KR', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.Wrap{
  width:100%;
  height: 100vh;
}
.innerBox{
  max-width: 1200px;
  margin:0 auto;
}

header{
  background: rgba(0, 0, 0, 0.8);
  border-bottom:3px solid black;
  padding:10px 0;
  height: 60px;
}
header>.innerBox{
  display: flex;
  justify-content: space-between;
}
.logo a{
  color: #111;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  z-index: 10;
}
#nav>li>a{
  color:#999;
  font-size:1.3em;
}
#nav>li:hover>a{
  color: white;
}
#nav>li img{
  width: 40px;
  padding:10px;
  background-color: white;
  border-radius: 50%;
  margin-right:10px;
}


/* Home.js */
.homeBox{
  text-align: center;
}
.homeImg>img{
  width:100%;
}
.container{
  padding:100px 0;
}

.innerBox>.titleBox{
  z-index: 1000;
}
/* Home.js */
.titleBox{
  padding-left: 35px;
}
.titleBox>div {
  margin: 40px auto;
  line-height: 2;
}
.homeImg{
  width:200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  overflow: hidden;
}
.titleBox>div>p:first-child{
  font-size: 4em;
  font-weight: 700;
}
.titleBox>div>p {
  font-size: 3em;
  font-weight: 500;
}

.titleBox>div>.maskText>.mask {
  font-weight: 700;
  font-size:1.6em;
  background: rgb(95,0,119); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(95,0,119,1) 0%, rgba(104,0,122,1) 49%, rgba(221,0,221,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(95,0,119,1) 0%,rgba(104,0,122,1) 49%,rgba(221,0,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(95,0,119,1) 0%,rgba(104,0,122,1) 49%,rgba(221,0,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f0077', endColorstr='#dd00dd',GradientType=1 ); /* IE6-9 */


  background-clip: text;
  color: rgba(0, 0, 0, 0);
}

footer{
  background: rgba(0, 0, 0, 0.8);
  margin-top:11.5%;
  height: 160px;
  width:100%;
}
.footerText>p{
  color:white;
  text-align: center;
  font-size:0.8em;
  font-weight: 400;
  line-height: 2;
  padding-top:20px;
}

@media screen and (max-width:1280px) {
  #nav{
    justify-content: space-evenly;
  }    
}

@media screen and (max-width:768px) {
  #nav>li>a{
    font-size:1.2em;
  }
  .container{
    padding:140px 0;
  }
  .homeBox{
    margin:0 auto;
  }
  .titleBox{
    padding:0;
  }
  .titleBox>div{
    line-height: 1.6;
  }
  .titleBox>div>.maskText>.mask{
    font-size:1.1em;
  }
  .titleBox>div>.middleText{
    font-size:2.4em;
  }
}
@media screen and (max-width:542px) {
  .titleBox>div>p:first-child{
    font-size:3em;
  }
  .titleBox>div>.maskText>.mask{
    font-size:0.8em;
  }
  .titleBox>div>.middleText{
    font-size:2em;
  }
  #nav{
    padding-top:5px;
  }
  #nav>li>a{
    font-size: 1em;
  }
  #nav>li img{
    width:30px;
    /* vertical-align: center; */
  }
}
@media screen and (max-width:380px) {
  
  .titleBox>div>p:first-child{
    font-size:2.6em;
  }
  .titleBox>div>.maskText>.mask{
    font-size:0.6em;
  }
  .titleBox>div>.middleText{
    font-size:1.6em;
  }
}